# Application settings
APP_HOST="localhost"
APP_PORT="3001"
APP_VERSION="0.1.0"

# NODE_ENV used for specifying the environment mode (e.g., "development", "production", "test").
NODE_ENV="development"

# CORS_ALLOWED_ORIGINS used for specifying allowed origins for CORS.
# Use a comma-separated list of origins (e.g., "http://localhost:3000,http://example.com") to 
# allow multiple origins.
CORS_ALLOWED_ORIGINS="http://localhost:3000,"

# BCRYPT_HASH_SALT used for hashing passwords.
BCRYPT_HASH_SALT="10"

# ORCA_ENCRYPTION_KEY used for encrypting/decrypting sensitive data.
# Must be a 64-character hexadecimal string (32 bytes).
# You can generate a secure key using the following command:
#    node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ORCA_ENCRYPTION_KEY="<YOUR_64_CHARACTER_HEX_STRING>"

# Json web token settings
JWT_ACCESS_SECRET="<YOUR_64_CHARACTER_HEX_STRING>"
JWT_ACCESS_TOKEN_EXPIRES_IN="7d"
JWT_REFRESH_SECRET="<YOUR_64_CHARACTER_HEX_STRING>" # Not implemented yet.
JWT_REFRESH_TOKEN_EXPIRES_IN="<JWT_REFRESH_TOKEN_EXPIRES_IN>" # Not implemented yet.

# RPC settings
RPC_PROVIDER_NAME="alchemy"
RPC_BLOCKCHAIN_NAME="ethereum"
# e.g., "mainnet", "sepolia"
# Default to "sepolia" for testing purposes. Change to "mainnet" for production.
RPC_NETWORK_NAME="sepolia"
RPC_API_KEY="<YOUR_ALCHEMY_API_KEY>"

# Resend settings
RESEND_API_KEY="<YOUR_RESEND_API_KEY>"
RESEND_SENDER_EMAIL="<YOUR_RESEND_SENDER_EMAIL>"

# Redis settings
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_URL="redis://localhost:6379"

# Database connection URL
DATABASE_URL="mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.cgdqoii.mongodb.net/<DATABASE_NAME>?retryWrites=true&w=majority&appName=Cluster0"

# Admin user credentials
ADMIN_USERNAME="<YOUR_ADMIN_USERNAME>"
ADMIN_EMAIL="<YOUR_ADMIN_EMAIL>"
ADMIN_PASSWORD="<YOUR_ADMIN_PASSWORD>"

# GitHub API Configuration
GITHUB_API_URL="https://api.github.com"
GITHUB_API_VERSION="2022-11-28"

# GitHub repository information
GITHUB_REPO_OWNER="<YOUR_GITHUB_USERNAME>"
GITHUB_REPO_NAME="<YOUR_GITHUB_REPO_NAME>"
GITHUB_REPO_TOKEN="<GITHUB_PERSONAL_ACCESS_TOKEN>"
